@model SLE_System.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<section class="sectionRegister container">

    <div class="FormHeading text-center">
        <h1> Register </h1>
        <p> Kindly fill the form to processed with the process</p>
        <hr>
    </div>
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                </div>

            </div>
            <div class="col-md-6 mb-4">
                <div class="">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class=" mb-4">
                <label asp-for="NIC" class="control-label"></label>
                <input asp-for="NIC" class="form-control" />
                <span asp-validation-for="NIC" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="VehicalRNumber" class="control-label"></label>
                <input asp-for="VehicalRNumber" class="form-control" />
                <span asp-validation-for="VehicalRNumber" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-4">
                <div class="">
                    <label asp-for="InsuranceCompanyName" class="control-label"></label>
                    <input asp-for="InsuranceCompanyName" class="form-control" />
                    <span asp-validation-for="InsuranceCompanyName" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-6 mb-4">
                <div class="">
                    <label asp-for="InsuranceIDNumber" class="control-label"></label>
                    <input asp-for="InsuranceIDNumber" class="form-control" />
                    <span asp-validation-for="InsuranceIDNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                </div>

            </div>
            <div class="col-md-6 mb-4">
                <div class="">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>

            </div>
            <div class="col-md-6 mb-4">
                <div class="">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                </div>
            </div>
        </div>

        <!-- Button -->
        <div class="btnDiv d-grid gap-2 col-6 mx-auto mb-4">
            <button type="submit" class="btn-primary" style="border: 2px solid #32bc87; background-color: transparent; color: #2ba174;">Register</button>
        </div>



    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>


</section>